body.modal-open-noscroll
{
    margin-right: 14px !important;
    /*overflow: auto;*/
}
.modal-open-noscroll .header, .modal-open .navbar-header
{
    margin-right: 14px !important;
}

.modal-body{
	max-height: 400px;
    overflow-y: scroll;
}

.aftersec{
	display: none;
}
.colorpicker{
    z-index: 1200 !important;
}
/*.options-tab li.active a{
	background-color: #f1f2f7 !important;
}*/

/*.options-form{
	border-bottom: 1px solid #ddd;
	margin: auto -15px;
    padding: 8px 18px 0;
    overflow: hidden;
}
*/
