@import "./public/css/bootstrap";
@import "./public/css/bootstrap-reset";
@import "./public/css/owl.carousel";
@import "./public/css/slidebars";
@import "./public/css/style";
@import "./public/css/style-responsive";
@import "./public/css/custom";


.always-bottom {
	position: fixed !important;
}

body#caster-app > section#container {
	padding-bottom: 20px;
}

#project-video-modal .modal-body{
	text-align:center;
	overflow: hidden;
}

#project-video-modal .modal-content {
	background-color: transparent;
}

/*Buttons*/
.btn-upload {
	background: transparent;
    font-size: 100px;
}

.btn-upload>small {
	display: block;
	font-size: 60%;
} 

.upload-body{
	display: flex;
	flex-direction: column;
    justify-content: center;
    padding: 60px 0;
}

.upload-body > h3 {
	text-align: center;
	/*font-size: 23px;*/
	margin-top: -20px;
	color: #444;
}



