#project-player-bg{
	position: fixed;
	z-index: 1048;
	top: 0;
	left: 0;
	#project-player-container {
		position: fixed;
		#project-player{}
	}
}

#project-player-bg.Project--dimmedbg{
	background: rgba(0,0,0,0.6);
	width: 100%;
    height: 100%;
}

#project-player-container.Project--glassbg{
    background: rgba(255,255,255,0.6);
    box-shadow: 0px 0px 10px 4px #c3c3c3;
}

#project-player-container.Project--centered {
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#project-player-container.Project--topleft {
	top: 0;
    left: 0;
}

#project-player-container.Project--topright {
	top: 0;
    right: 0;
}

#project-player-container.Project--bottomleft {
	bottom: 0;
    left: 0;
}

#project-player-container.Project--bottomright {
	bottom: 0;
    right: 0;
}

#project-player-container>a.close-project{
    position: absolute;
    z-index: 1049;
    right: 5px;
    top: 0;
}

#project-text-overlay{
	position: absolute;
    z-index: 1049;
    width: 100%;
}

#project-text-overlay>span{
	padding: 2px 4px;
}

#project-text-overlay.Textoverlay--top{
	top: 0;
}

#project-text-overlay.Textoverlay--middle{
	top: 50%;
	transform: translateY(-50%);
}

#project-text-overlay.Textoverlay--bottom{
	bottom: 0;
}



#project-text-overlay.Textoverlay--left{
	text-align: left;
}

#project-text-overlay.Textoverlay--center{
	text-align: center;
}

#project-text-overlay.Textoverlay--right{
	text-align: right;
}

#project-clicktocall{
	position: absolute;
    z-index: 1049;
    width: 100%;
}

#project-clicktocall>a{
	padding: 2px 4px;
}

#project-clicktocall.Clicktocall--top{
	top: 0;
}

#project-clicktocall.Clicktocall--middle{
	top: 50%;
	transform: translateY(-50%);
}

#project-clicktocall.Clicktocall--bottom{
	bottom: 0;
}

#project-clicktocall.Clicktocall--left{
	text-align: left;
}

#project-clicktocall.Clicktocall--center{
	text-align: center;
}

#project-clicktocall.Clicktocall--right{
	text-align: right;
}