<!-- Action Modal -->
<div class="modal fade" id="project-actions" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="actions-modal modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-center"><i class="fa fa-share-square-o"></i>  Actions</h4>
        </div>
        <div class="modal-body">
        	<div class="row">
        		<div class="col-md-12">
    			    <section class="panel row">
            			<ul class="nav nav-tabs actions-tab">
      						  <li class="active"><a data-toggle="tab" href="#linkurl"><i class="fa fa-link"></i> Link URL &amp; Text Overlay</a></li>
      						  <li><a data-toggle="tab" href="#clicktocall"><i class="fa fa-hand-o-up"></i> Click to Call</a></li>
      						  <li><a data-toggle="tab" href="#fboverlay"><i class="fa fa-file-text"></i> Form &amp; Button Overlay</a></li>
					        </ul>
        			</section>
				      <div class="tab-content">
				      	<linkurl :project="project"></linkurl>
				      	<clicktocall :project="project"></clicktocall>
                <fboverlay :project="project"></fboverlay>
        			</div>
    			  </div>
    		  </div>
      	</div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-danger" type="button"><i class="fa fa-times"></i> Close</button>
            <button class="btn btn-primary" type="button" @click="save">
                  <i class="fa fa-save"></i> {{ is_saving ? 'Saving...' : 'Save' }}
            </button>
        </div>
      </div> <!--  end of modal content -->
   </div> <!--  end of modal dialog -->
</div>  <!--  end of modal -->