<div id="clicktocall" class="tab-pane fade">
  	<section class="panel">
  		<form class="form-horizontal tasi-form text-left">
  			<div class="form-group">
				<div class="col-lg-12 col-md-12 row">
				  <label for="phonenumber" class="control-label col-md-3 col-sm-3"><strong> Phone Number: </strong></label>
				  <div class="row col-md-9 col-sm-9">
				  	<input type="text" class="form-control m-bot15" id="phonenumber" v-model="project.actions.clicktocall">
				  </div>
				</div>
			</div> <!-- 1st form-group -->
			<div class="form-group">
				<div class="col-lg-12 col-sm-12 row">
					<label for="valignment" class="control-label col-md-3 col-sm-3">
                      	   <strong> Vertical Alignment: </strong>
                    </label>
                    <div class="row m-bot15 col-md-3 col-sm-3">
                      	<select id='phonePosition' class="form-control m-bot15" v-model="project.actions.clicktocall_valignment">
							<option value="0">Bottom</option>
							<option value="1">Middle</option>
							<option value="2">Top</option>
						</select>
					</div>
                </div>
                <div class="col-lg-12 col-sm-12 row">
					<label for="phoneshow" class="control-label col-md-3 col-sm-3">
                      	   <strong> Start Time: </strong>
                    </label>
                    <div class="row m-bot15 col-md-3 col-sm-3">
						<div class="spinner">
                          <div class="input-group input-small">
                              <input type="text" id='phoneShowSec' class="spinner-input form-control" value="0"  v-model="project.actions.clicktocall_start">
                              	<div class="spinner-buttons input-group-btn btn-group-vertical">
                                  <button type="button" class="btn spinner-up btn-xs btn-default">
                                      <i class="fa fa-angle-up"></i>
                                  </button>
                                  <button type="button" class="btn spinner-down btn-xs btn-default">
                                      <i class="fa fa-angle-down"></i>
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
					<label for="phoneduration" class="control-label col-md-3 col-sm-3">
                      	   <strong> Duration: </strong>
                    </label>
                    <div class="row m-bot15 col-md-3 col-sm-3">
						<div class="spinner">
                          <div class="input-group input-small">
                              <input type="text" id='phoneShowDuration' class="spinner-input form-control" value="0" v-model="project.actions.clicktocall_duration">
                              	<div class="spinner-buttons input-group-btn btn-group-vertical">
                                  <button type="button" class="btn spinner-up btn-xs btn-default">
                                      <i class="fa fa-angle-up"></i>
                                  </button>
                                  <button type="button" class="btn spinner-down btn-xs btn-default">
                                      <i class="fa fa-angle-down"></i>
                                  </button>
                                </div>
                          </div>
                        </div>
                    </div>
                </div>
			</div> <!-- 1st form-group -->
			<div class="form-group">
				<div class="col-lg-12 col-md-12">
					<div class="panel-group" id="accordion">
                      <div class="panel advance-panel">
                          <div class="panel-heading panel-inverse">
                              <h4 class="panel-title">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                      <i class="fa fa-pencil"></i>  Advance (Click to Call)<i class="fa fa-caret-down pull-right"></i></span>
                                  </a>
                              </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                            	<div class="form-group">
                            		<div class="col-lg-12 col-md-12">
                              			<div class="well">
                              				<div class="clicktocall-container"
                              					:style="{
                              					 	textAlign: project.actions.clicktocall_alignment
                              					}"
                              				>
                              					<button type="button" class="btn btn-default"
                              						:style="{
                              					 		fontFamily: project.actions.clicktocall_fontfamily,
                              					 		fontSize: project.actions.clicktocall_fontsize + 'px',
                              					 		fontWeight: project.actions.clicktocall_bold ? 'bold' : null,
                              					 		fontStyle: project.actions.clicktocall_italic ? 'italic': null,
                              					 		color: project.actions.clicktocall_textcolor,
                              					 		backgroundColor: project.actions.clicktocall_backgroundcolor
                              					 	}"
                              					>
                              						{{ project.actions.clicktocall ? project.actions.clicktocall : 'Default'}}
                              					</button>
                              				</div>
                              			</div>
                              		</div>
                      			</div>
                      			<div class="form-group">
                      				<div class="col-lg-12 col-md-12">
										<label for="fontstyle" class="control-label col-md-3 col-sm-3 row">
	                                      	   <strong> Font Family: </strong>
	                                    </label>
	                                    <div class="row m-bot15 col-md-4 col-sm-4">
                                          	<select id='textFontProperty' class="form-control m-bot15"  v-model="project.actions.clicktocall_fontfamily">
												<option value="Arial">Arial</option>
												<option value="Arial Black">Arial Black</option>
												<option value="Comic Sans MS">Comic Sans MS</option>
												<option value="Impact">Impact</option>
												<option value="Lucida">Lucida</option>
												<option value="Tahoma">Tahoma</option>
												<option value="Verdana">Verdana</option>
												<option value="Georgia">Georgia</option>
												<option value="Times New Roman">Times New Roman</option>
												<option value="Courier New">Courier New</option>
												<option value="Lucida Console">Lucida Console</option>
											</select>
										</div>
										<label for="fontsize" class="control-label col-md-3 col-sm-3">
                          	   				<strong> Font Size: </strong>
                        				</label>
	                                    <div class="row m-bot15 col-md-3 col-sm-3">
											<div id="fontsize" class="spinner">
                                              <div class="input-group input-small">
                                                  <input type="text" id='textShowDuration' class="spinner-input form-control" value="10"  v-model="project.actions.clicktocall_fontsize">
                                                  	<div class="spinner-buttons input-group-btn btn-group-vertical">
                                                      <button type="button" class="btn spinner-up btn-xs btn-default">
                                                          <i class="fa fa-angle-up"></i>
                                                      </button>
                                                      <button type="button" class="btn spinner-down btn-xs btn-default">
                                                          <i class="fa fa-angle-down"></i>
                                                      </button>
                                                    </div>
                                              </div>
                                            </div>
	                                    </div>
	                                </div>
                                </div>
                                <div class="form-group">
                                	<div class="col-lg-12 col-md-12">
										<label for="boldtext" class="control-label col-md-2 col-sm-2 row" v-model="project.actions.clicktocall_duration">
	                                      	  <strong> Bold: </strong>
	                                    </label>
	                                    <div class="row m-bot15 col-md-4 col-sm-4">
	                                        <div class="col-sm-6 text-center">
	                                          	<div class="switch"
	                                          		 data-on-label="<i class=' fa fa-check'></i>"
               										 data-off-label="<i class='fa fa-times'></i>">
	                                              <input type="checkbox" id='clicktocall_bold' v-model="project.actions.clicktocall_bold" class="actions-ref"/>
	                                            </div>
	                                        </div>
	                                    </div>
										<label for="italictext" class="control-label col-md-2 col-sm-2 row">
	                                      	  <strong> Italic: </strong>
	                                    </label>
	                                    <div class="row m-bot15 col-md-4 col-sm-4">
	                                        <div class="col-sm-6 text-center">
	                                          	<div class="switch"
	                                          		 data-on-label="<i class=' fa fa-check'></i>"
               										 data-off-label="<i class='fa fa-times'></i>">
	                                              <input type="checkbox" id='clicktocall_italic' v-model="project.actions.clicktocall_italic" class="actions-ref"/>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
                                </div>
                                <div class="form-group">
                                	<div class="col-lg-12 col-md-12">
										<label for="textalignment" class="control-label col-md-3 col-sm-3 row">
	                                      	  <strong> Alignment: </strong>
	                                    </label>
	                                    <div class="row col-md-3 col-sm-3">
                                          	<select id='textFontProperty' class="form-control m-bot15" v-model="project.actions.clicktocall_alignment">
												<option value="left">Left</option>
												<option value="center">Center</option>
												<option value="right">Right</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-12 col-md-12">
										<label for="textpverlay" class="m-bot15 control-label col-md-6 col-sm-6 row"><strong> Text Color: </strong></label>
	                                    <label for="rgba" class="control-label col-md-2 col-sm-2 row">
	                                    	  RGB
	                                    </label>
	                                   <div class="row m-bot15 col-md-4 col-sm-4">
	                                        <input type="text" class="colorpicker-rgba form-control" data-color-format="rgb" v-model="project.actions.clicktocall_textcolor"/>
	                                    </div>
	                                </div>
                               	</div>
                               	<div class="form-group">
	                               	<div class="col-lg-12 col-md-12">
										<label for="textpverlay" class="m-bot15 control-label col-md-6 col-sm-6 row"><strong> Background Color: </strong></label>
	                                    <label for="rgba" class="control-label col-md-2 col-sm-2 row">
	                                    	  RGBA
	                                    </label>
	                                   <div class="row m-bot15 col-md-4 col-sm-4">
	                                        <input type="text" class="colorpicker-rgba form-control" data-color-format="rgba" v-model="project.actions.clicktocall_backgroundcolor"/>
	                                    </div>
	                                </div>
                                </div>
                            </div><!--  end of panel-body -->
                          </div>
                      </div>
                    </div>
                </div>
			</div> <!-- 2nd form-group -->
		</form>
  	</section>
</div>  <!-- end of clicktocall -->