<div id="fboverlay" class="tab-pane fade">
   	<section class="panel">
		<div class="form-group">
            <section class="panel">
            	<header class="panel-heading">
                    <ul class="nav nav-tabs tab-inverse-bg fboverlay-tab">
					  <li class="active"><a data-toggle="tab" href="#buttonoverlay"><i class="fa fa-caret-right"></i> Button Overlay </a></li>
					  <li><a data-toggle="tab" href="#formoverlay"><i class="fa fa-caret-right"></i> Form Overlay </a></li>
					</ul>
				</header>
			</section>
		<div class="tab-content">
		 	<div id="buttonoverlay" class="tab-pane active">
				<form class="form-horizontal tasi-form text-left">
					<div class="form-group">
						<div class="col-lg-12 col-md-12">
							<label for="buttonlabel" class="control-label col-md-3 col-sm-3"><strong> Label: </strong></label>
                            <div class="m-bot15 col-md-9 col-sm-9">
                            	<input type="text" class="form-control m-bot15" id="buttonLabel"  v-model="project.actions.buttonoverlay_label">
                            </div>
						</div>
						<div class="col-lg-12 col-sm-12">
							<label for="valignment" class="control-label col-md-3 col-sm-3">
                              	   <strong> Vertical Alignment: </strong>
                            </label>
                            <div class="row m-bot15 col-md-3 col-sm-3">
                              	<select id='buttonPosition' class="form-control m-bot15"  v-model="project.actions.buttonoverlay_valignment">
									<option value=0>Bottom</option>
									<option value=1>Middle</option>
									<option value=2>Top</option>
								</select>
							</div>
                        </div>
                    	<div class="col-lg-12 col-sm-12">
							<label for="buttonshow" class="control-label col-md-3 col-sm-3">
                              	   <strong> Start Time: </strong>
                            </label>
                            <div class="row m-bot15 col-md-3 col-sm-3">
								<div class="spinner">
                                  <div class="input-group input-small">
                                      <input type="text" id='buttonShowSec' class="spinner-input form-control" value="0" v-model="project.actions.buttonoverlay_start">
                                      	<div class="spinner-buttons input-group-btn btn-group-vertical">
                                          <button type="button" class="btn spinner-up btn-xs btn-default">
                                              <i class="fa fa-angle-up"></i>
                                          </button>
                                          <button type="button" class="btn spinner-down btn-xs btn-default">
                                              <i class="fa fa-angle-down"></i>
                                          </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
							<label for="buttonduration" class="control-label col-md-3 col-sm-3">
                              	   <strong> Duration: </strong>
                            </label>
                            <div class="row m-bot15 col-md-3 col-sm-3">
								<div class="spinner">
                                  <div class="input-group input-small">
                                      <input type="text" id='buttonShowDuration' class="spinner-input form-control" value="0" v-model="project.actions.buttonoverlay_duration">
                                      	<div class="spinner-buttons input-group-btn btn-group-vertical">
                                          <button type="button" class="btn spinner-up btn-xs btn-default">
                                              <i class="fa fa-angle-up"></i>
                                          </button>
                                          <button type="button" class="btn spinner-down btn-xs btn-default">
                                              <i class="fa fa-angle-down"></i>
                                          </button>
                                        </div>
                                  </div>
                                </div>
                            </div>
                        </div>
					</div> <!-- end of 1st form group -->
					<div class="form-group">
						<div class="col-lg-12 col-md-12">
							<div class="panel-group" id="accordion">
	                          <div class="panel advance-panel">
	                              <div class="panel-heading panel-inverse">
	                                  <h4 class="panel-title">
	                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
	                                          <i class="fa fa-pencil"></i>  Advance (Button Overlay)<i class="fa fa-caret-down pull-right"></i></span>
	                                      </a>
	                                  </h4>
	                              </div>
	                              <div id="collapseThree" class="panel-collapse collapse">
	                                <div class="panel-body">
	                                	<div class="form-group">
	                                		<div class="col-lg-12 col-md-12">
	                                  			<div class="well">
	                                  				<p> The quick brown fox...</p>
	                                  			</div>
                                  			</div>
                              			</div>
                              			<div class="form-group">
                              				<div class="col-lg-12 col-md-12">
												<label for="fontstyle" class="control-label col-md-3 col-sm-3 row">
			                                      	   <strong> Font Family: </strong>
			                                    </label>
			                                    <div class="row m-bot15 col-md-4 col-sm-4">
		                                          	<select id='textFontProperty' class="form-control m-bot15" v-model="project.actions.buttonoverlay_fontfamily">
														<option value="Arial">Arial</option>
														<option value="Arial Black">Arial Black</option>
														<option value="Comic Sans MS">Comic Sans MS</option>
														<option value="Impact">Impact</option>
														<option value="Lucida">Lucida</option>
														<option value="Tahoma">Tahoma</option>
														<option value="Verdana">Verdana</option>
														<option value="Georgia">Georgia</option>
														<option value="Times New Roman">Times New Roman</option>
														<option value="Courier New">Courier New</option>
														<option value="Lucida Console">Lucida Console</option>
													</select>
												</div>
												<label for="fontsize" class="control-label col-md-3 col-sm-3">
                                  	   				<strong> Font Size: </strong>
                                				</label>
			                                    <div class="row m-bot15 col-md-3 col-sm-3">
													<div id="fontsize" class="spinner">
	                                                  <div class="input-group input-small">
	                                                      <input type="text" id='textShowDuration' class="spinner-input form-control" value="10"  v-model="project.actions.buttonoverlay_fontsize">
	                                                      	<div class="spinner-buttons input-group-btn btn-group-vertical">
	                                                          <button type="button" class="btn spinner-up btn-xs btn-default">
	                                                              <i class="fa fa-angle-up"></i>
	                                                          </button>
	                                                          <button type="button" class="btn spinner-down btn-xs btn-default">
	                                                              <i class="fa fa-angle-down"></i>
	                                                          </button>
		                                                    </div>
		                                              </div>
		                                            </div>
			                                    </div>
		                                    </div>
		                                </div>
		                                <div class="form-group">
		                                	<div class="col-lg-12 col-md-12">
												<label for="boldtext" class="control-label col-md-2 col-sm-2 row">
			                                      	  <strong> Bold: </strong>
			                                    </label>
			                                    <div class="row m-bot15 col-md-4 col-sm-4">
			                                        <div class="col-sm-6 text-center">
			                                          	<div class="switch"
			                                          		 data-on-label="<i class=' fa fa-check'></i>"
                       										 data-off-label="<i class='fa fa-times'></i>">
			                                              <input type="checkbox" id='buttonoverlay_bold' v-model="project.actions.buttonoverlay_bold" class="actions-ref"/>
			                                            </div>
			                                        </div>
			                                    </div>
												<label for="italictext" class="control-label col-md-2 col-sm-2 row">
			                                      	  <strong> Italic: </strong>
			                                    </label>
			                                    <div class="row m-bot15 col-md-4 col-sm-4">
			                                        <div class="col-sm-6 text-center">
			                                          	<div class="switch"
			                                          		 data-on-label="<i class=' fa fa-check'></i>"
                       										 data-off-label="<i class='fa fa-times'></i>">
			                                              <input type="checkbox" id='buttonoverlay_italic' v-model="project.actions.buttonoverlay_italic" class="actions-ref"/>
			                                            </div>
			                                        </div>
			                                    </div>
			                                </div>
		                                </div>
		                                <div class="form-group">
		                                	<div class="col-lg-12 col-md-12">
												<label for="textalignment" class="control-label col-md-3 col-sm-3 row">
			                                      	  <strong> Alignment: </strong>
			                                    </label>
			                                    <div class="row col-md-3 col-sm-3">
		                                          	<select id='textFontProperty' class="form-control m-bot15" v-model="project.actions.buttonoverlay_alignment">
														<option value="left">Left</option>
														<option value="center">Center</option>
														<option value="right">Right</option>
													</select>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-lg-12 col-md-12">
												<label for="textpverlay" class="m-bot15 control-label col-md-6 col-sm-6 row"><strong> Text Color: </strong></label>
			                                    <label for="rgba" class="control-label col-md-2 col-sm-2 row">
			                                    	  RGB
			                                    </label>
			                                   <div class="row m-bot15 col-md-4 col-sm-4">
			                                        <input type="text" class="colorpicker-rgba form-control" value="rgb(0,0,0)" data-color-format="rgb" v-model="project.actions.buttonoverlay_textcolor"/>
			                                    </div>
			                                </div>
		                               	</div>
		                               	<div class="form-group">
		                               		<div class="col-lg-12 col-md-12">
												<label for="textpverlay" class="m-bot15 control-label col-md-6 col-sm-6 row"><strong> Background Color: </strong></label>
			                                    <label for="rgba" class="control-label col-md-2 col-sm-2 row">
			                                    	  RGBA
			                                    </label>
			                                   <div class="row m-bot15 col-md-4 col-sm-4">
			                                        <input type="text" class="colorpicker-rgba form-control" value="rgba(0,0,0,1)" data-color-format="rgba" v-model="project.actions.buttonoverlay_backgroundcolor"/>
			                                   </div>
			                                </div>
		                                </div>
	                                </div><!--  end of panel-body -->
	                              </div>
	                          </div>
	                        </div>
                        </div>
					</div> <!-- 2nd form-group -->
				</form>
		 	</div><!--  end of tab-pane one button overlay -->
		 	<div id="formoverlay" class="tab-pane">
		 		<form class="form-horizontal tasi-form text-left">
		 			<div class="form-group">
		 				<div class="col-lg-12 col-md-12">
								<label for="buttonshow" class="control-label col-md-3 col-sm-3">
   								 <strong> Start Time: </strong>
								</label>
								<div class="row m-bot15 col-md-3 col-sm-3">
									<div class="spinner">
          							<div class="input-group input-small">
              							<input type="text" id='buttonShowSec' class="spinner-input form-control" value="0" v-model="project.actions.formoverlay_start">
                   						<div class="spinner-buttons input-group-btn btn-group-vertical">
                                          <button type="button" class="btn spinner-up btn-xs btn-default">
                                              <i class="fa fa-angle-up"></i>
                                          </button>
                                          <button type="button" class="btn spinner-down btn-xs btn-default">
                                              <i class="fa fa-angle-down"></i>
                                          </button>
                 						</div>
         							</div>
     							</div>
								</div>
								<label for="buttonduration" class="control-label col-md-3 col-sm-3">
    							<strong> Duration: </strong>
								</label>
								<div class="row m-bot15 col-md-3 col-sm-3">
								<div class="spinner">
          							<div class="input-group input-small">
              							<input type="text" id='buttonShowDuration' class="spinner-input form-control" value="0" v-model="project.actions.formoverlay_duration">
              						 	<div class="spinner-buttons input-group-btn btn-group-vertical">
                                          	<button type="button" class="btn spinner-up btn-xs btn-default">
                                              <i class="fa fa-angle-up"></i>
                                          	</button>
                                            <button type="button" class="btn spinner-down btn-xs btn-default">
                                              <i class="fa fa-angle-down"></i>
                                            </button>
           								</div>
       								</div>
     							</div>
								</div>
							</div>
					</div><!--  end of form group -->
					<div class="form-group">
			            <div class="col-lg-12 col-md-12">
			               <div class="panel-group" id="accordion">
			                       <div class="panel advance-panel">
			                           <div class="panel-heading panel-inverse">
			                               <h4 class="panel-title">
			                                   <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
			                                       <i class="fa fa-pencil"></i>  Advance (Form Overlay)<i class="fa fa-caret-down pull-right"></i></span>
			                                   </a>
			                               </h4>
			                           </div>
			                           <div id="collapseFour" class="panel-collapse collapse">
			                            	<div class="panel-body">
			                              		<div class="form-group">
			                               			<div class="col-no-float center-block col-md-7 col-sm-7">
			                               				<div class="well">
			                               					<section id="formStyle" class="panel">
				                                				<header class="panel-heading text-center">
				                                  					<h4><strong> Form Title </strong></h4>
				                                				</header>
				                                				<div class="panel-body">
				                                					<form class="form-horizontal tasi-form text-left">
				                                    					<div class="form-group">
				                                     						<div class="col-lg-12 col-md-12">
				                                      							<input type="text" class="form-control m-bot15" id="usernameField" placeholder="Enter your name.." v-model="project.actions.formoverlay_name">
				                                      							<input type="email" class="form-control m-bot15" id="emailField" placeholder="Enter your email.." v-model="project.actions.formoverlay_email">
				                                      							<button type="button" class="btn btn-success btn-sm center-block">Subscribe</button>
				                                     						</div>
				                                    					</div>
				                                  					</form>
				                                 				</div>
			                                				</section>
			                               				</div>
			                              			</div>
			                          			</div>
			                  					<div class="form-group">
			                                        <div class="col-lg-12 col-md-12">
			                    						<label for="formtitle" class="control-label">
			                   								Form Title Style
			                    						</label>
			                   						</div>
			                  					</div>
			                  					<div class="form-group">
			                   						<div class="col-lg-12 col-md-12">
			                    						<label for="titletext" class="control-label col-md-3 col-sm-3 row"><strong> Title Text: </strong></label>
			                                               <div class="row m-bot15 col-md-9 col-sm-9">
			                                                	<input type="text" class="form-control m-bot15" id="titleText" maxlength="25" v-model="project.actions.formoverlay_title">
			                                               </div>
			                						</div>
			                						<div class="col-lg-12 col-md-12">
			                    						<label for="titlesize" class="control-label col-md-3 col-sm-3 row">
			                                            	<strong> Size: </strong>
			                                      		</label>
				                                    	<div class="row m-bot15 col-md-3 col-sm-3">
				                                        	<select id='titleSize' class="form-control m-bot15" v-model="project.actions.formoverlay_titlesize">
										                    	<option value="Small">Small</option>
										                    	<option value="Medium">Medium</option>
										                    	<option value="Large">Large</option>
				                    						</select>
				                    					</div>
				                   						<label for="fontstyle" class="control-label col-md-3 col-sm-3">
				                                            <strong> Font Family: </strong>
				                                      	</label>
				                                      	<div class="row m-bot15 col-md-3 col-sm-3">
				                                        	 <select id='textFontProperty' class="form-control m-bot15" v-model="project.actions.formoverlay_fontfamily">
											                    <option value="Arial">Arial</option>
										                      	<option value="Arial Black">Arial Black</option>
										                      	<option value="Comic Sans MS">Comic Sans MS</option>
										                      	<option value="Impact">Impact</option>
										                      	<option value="Lucida">Lucida</option>
										                      	<option value="Tahoma">Tahoma</option>
										                      	<option value="Verdana">Verdana</option>
										                      	<option value="Georgia">Georgia</option>
										                      	<option value="Times New Roman">Times New Roman</option>
										                      	<option value="Courier New">Courier New</option>
										                      	<option value="Lucida Console">Lucida Console</option>
				                    						</select>
				                    					</div>
			                   						</div>
			                   						<div class="col-lg-12 col-md-12">
			                    						<label for="boldtext" class="control-label col-md-3 col-sm-3 row">
			                                                <strong> Bold: </strong>
			                                            </label>
			                                            <div class="row m-bot15 col-md-3 col-sm-3">
			                                                <div class="col-sm-6 text-center">
			                                                    <div class="switch" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
			                                                         <input type="checkbox" id='formoverlay_bold' v-model="project.actions.formoverlay_bold" class="actions-ref"/>
			                                                    </div>
			                                                </div>
			                                            </div>
			                    						<label for="italictext" class="control-label col-md-3 col-sm-3">
			                                                    <strong> Italic: </strong>
			                                            </label>
			                                            <div class="row m-bot15 col-md-3 col-sm-3">
			                                                <div class="col-sm-6 text-center">
			                                                    <div class="switch" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
			                                                        <input type="checkbox" id='formoverlay_italic' v-model="project.actions.formoverlay_italic" class="actions-ref"/>
			                                                    </div>
			                                                </div>
			                                            </div>
			                   						</div>
			                   						<div class="col-lg-12 col-md-12">
			                   							<label for="titletextcolor" class="m-bot15 control-label col-md-3 col-sm-3 row">
			                   								<strong> Text Color: </strong>
			                   							</label>
			                                            <label for="rgba" class="control-label col-md-2 col-sm-2 row">
			                                                  RGB
														</label>
			                                            <div class="row m-bot15 col-md-7 col-sm-7">
			                                                <input type="text" class="colorpicker-rgba form-control" value="rgb(0,0,0)" data-color-format="rgb" v-model="project.actions.formoverlay_textcolor" />
			                                            </div>
			                    					</div>
			                  					</div><!--  end form-group title style -->
			                  					<div class="form-group">
			                                        <div class="col-lg-12 col-md-12">
			                    						<label for="formtitle" class="control-label">
			                    							 Form Input Fields Style
			                    						</label>
			                   						</div>
			                  					</div>
			                  					<div class="form-group">
			                   						<div class="col-lg-12 col-md-12">
				                    					<label for="titlesize" class="control-label col-md-3 col-sm-3 row">
				                                            <strong> Size: </strong>
				                                      	</label>
				                                      	<div class="row m-bot15 col-md-3 col-sm-3">
					                                        <select id='titleSize' class="form-control m-bot15" v-model="project.actions.formoverlay_fieldsize">
											                    <option value="Small">Small</option>
											                    <option value="Medium">Medium</option>
											                    <option value="Large">Large</option>
					                     					</select>
				                    					</div>
			                    						<label for="titlesize" class="control-label col-md-3 col-sm-3">
			                                            	<strong> Border size: </strong>
			                                      		</label>
			                                      		<div class="row m-bot15 col-md-3 col-sm-3">
			                                        		<select id='titleSize' class="form-control m-bot15" v-model="project.actions.formoverlay_bordersize">
											                    <option value="1">1px</option>
											                 	<option value="2">2px</option>
											                    <option value="3">3px</option>
			                    							</select>
			                    						</div>
			                   						</div>
			                   						<div class="col-lg-12 col-md-12 m-bot15">
			                    						<label for="buttontextcolor" class="m-bot15 control-label col-md-3 col-sm-3 row">
			                    							<strong> Foreground Color: </strong>
			                    						</label>
			                                            <label for="rgba" class="control-label col-md-2 col-sm-2 row">
			                                                RGB
			                                            </label>
			                                            <div class="row m-bot15 col-md-7 col-sm-7">
			                                                <input type="text" class="colorpicker-rgba form-control" value="rgb(0,0,0)" data-color-format="rgb" v-model="project.actions.formoverlay_foregroundcolor"/>
			                                            </div>
			                   						</div>
			                   						<div class="col-lg-12 col-md-12 m-bot15">
			                   							<label for="buttonbackgroundcolor" class="m-bot15 control-label col-md-3 col-sm-3 row">
			                   								<strong> Background Color: </strong>
			                   							</label>
			                                            <label for="rgba" class="control-label col-md-2 col-sm-2 row">
			                                                RGBA
			                                            </label>
			                                            <div class="row m-bot15 col-md-7 col-sm-7">
			                                                <input type="text" class="colorpicker-rgba form-control" value="rgba(0,0,0,1)" data-color-format="rgba" v-model="project.actions.formoverlay_backgroundcolor"/>
			                                            </div>
			                   						</div>
			                  					</div> <!-- end of form group input fields style -->
			                  					<div class="form-group">
			                                        <div class="col-lg-12 col-md-12">
			                    						<label for="autoresponder" class="control-label">
			                    							Autoresponder
			                    						</label>
			                   						</div>
			                  					</div>
			                  					<div class="form-group">
			                   						<div class="col-lg-12 col-md-12">
				                   						<label for="autoresponderservice" class="control-label col-md-3 col-sm-3 row">
				                                            <strong> Service: </strong>
				                                      	</label>
			                                      		<div class="row m-bot15 col-md-5 col-sm-5">
			                                         		<select id='autoresponder' class="form-control m-bot15" v-model="project.actions.autoresponder">
											                    <option value="0">AWeber</option>
											                    <option value="1">MailChimp</option>
											                    <option value="2">GetResponse</option>
											                    <option value="3">SendLane</option>
											                    <option value="4">SendReach</option>
											                    <option value="5">ConstantContact</option>
			                     							</select>
			                    						</div>
			                   						</div>
			                   						<div class="col-lg-12 col-md-12">
			                    						<label for="titletext" class="control-label col-md-3 col-sm-3 row">
			                    							<strong> User ID: </strong>
			                    						</label>
			                                            <div class="row m-bot15 col-md-9 col-sm-9">
			                                                <input type="text" class="form-control m-bot15" id="cb_optin_uid" v-model="project.actions.autoresponder_userid">
			                                            </div>
			                   						</div>
								                </div> <!-- end of form group autoresponder -->
											</div><!--  end of panel-body -->
			                           	</div>
			                       	</div>
			                    </div>
			                </div>
			            </div> <!-- 2nd form-group -->
 					</form>
		 		</div><!--  end of tab-pane two form overlay -->
			</div><!--  end of tab content -->
		</div>
	</section>
</div>	<!-- end of fboverlay -->
