<div id="linkurl" class="tab-pane fade in active">
  <section class="panel">
    <form class="form-horizontal tasi-form text-left">
      <div class="form-group">
          <div class="col-lg-12 col-md-12 row">
             <label for="linkurl" class="control-label col-md-3 col-sm-3">
               <strong> Link URL: </strong>
             </label>
             <div class="row col-md-9 col-sm-9">
               <input type="text" class="form-control m-bot15" id="linkURL" v-model="project.actions.link_url" placeholder="http://">
             </div>
             <tooltip class="pull-right" title="URL where it will route when the video is click. Note: 'http://' is required to work properly. *Firefox browsers will open the link on the same page. Due to pop blocker when using new tab." placement="left"></tooltip>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12 col-md-12">
             <label for="textoverlay pull-left" class="control-label">
                Text Overlay
             </label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12 col-sm-12 row">
             <label for="line1" class="control-label col-md-3 col-sm-3">
               <strong> Line1: </strong>
             </label>
             <div class="row m-bot15 col-md-9 col-sm-9">
               <input type="text" class="form-control m-bot15" id="textoverlay_line_1" v-model="project.actions.textoverlay_line_1" >
             </div>
             <tooltip class="pull-right" title="Text overlay that will be display while the video is playing" placement="left"></tooltip>
          </div>
          <div class="col-lg-12 col-sm-12 row">
             <label for="line2" class="control-label col-md-3 col-sm-3">
                 <strong> Line2: </strong>
             </label>
             <div class="row m-bot15 col-md-9 col-sm-9">
               <input type="text" class="form-control m-bot15" id="textoverlay_line_2" v-model="project.actions.textoverlay_line_2">
             </div>
          </div>

        <!-- Vertical Alignment -->
          <div class="col-lg-12 col-sm-12 row">
             <label for="valignment" class="control-label col-md-3 col-sm-3">
               <strong> Vertical Alignment: </strong>
             </label>
             <div class="row m-bot15 col-md-3 col-sm-3">
               <select id='textPosition' class="form-control m-bot15" v-model="project.actions.textoverlay_valignment">
                 <option value="bottom">Bottom</option>
                 <option value="middle">Middle</option>
                 <option value="top">Top</option>
               </select>
             </div>
             <div class="col-md-3 col-sm-3">
                <tooltip class="pull-left" title="Vertical alignment of text overlay" placement="right"></tooltip>
             </div>
          </div>
          
          <!-- Horizontal Alignment -->
          <div class="col-lg-12 col-md-12 row">
              <label for="textalignment" class="control-label col-md-3 col-sm-3">
                 <strong>Horizontal Alignment: </strong>
              </label>
              <div class="row m-bot15 col-md-3 col-sm-3">
                    <select id='textAlignment' class="form-control m-bot15" v-model="project.actions.textoverlay_alignment">
                      <option value="left">Left</option>
                      <option value="center">Center</option>
                      <option value="right">Right</option>
                    </select>
              </div>
              <div class="col-md-3 col-sm-3">
                <tooltip class="pull-left" title="Horizontal alignment of text overlay" placement="right"></tooltip>
             </div>
          </div>


          <div class="col-lg-12 col-sm-12 row">
             <label for="starttime" class="control-label col-md-3 col-sm-3">
                 <strong> Start Time: </strong>
             </label>
             <div class="row m-bot15 col-md-3 col-sm-3">
                <div class="spinner">
                  <div class="input-group input-small">
                     <input type="text" id='textShowSec' class="spinner-input form-control" value="0" v-model="project.actions.textoverlay_start">
                     <div id="textoverlay_start" class="spinner-buttons input-group-btn btn-group-vertical">
                        <button type="button" class="btn spinner-up btn-xs btn-default">
                           <i class="fa fa-angle-up"></i>
                        </button>
                        <button type="button" class="btn spinner-down btn-xs btn-default">
                           <i class="fa fa-angle-down"></i>
                         </button>
                      </div>
                  </div>
                </div>
            </div>
            <label for="textduration" class="control-label col-md-3 col-sm-3">
               <strong> Duration: </strong>
            </label>
            <div class="row m-bot15 col-md-3 col-sm-3">
              <div class="spinner">
                <div class="input-group input-small">
                  <input type="text" id='textShowDuration' class="spinner-input form-control" value="0" v-model="project.actions.textoverlay_duration">
                      <div id="textoverlay_duration" class="spinner-buttons input-group-btn btn-group-vertical">
                        <button type="button" class="btn spinner-up btn-xs btn-default">
                            <i class="fa fa-angle-up"></i>
                        </button>
                        <button type="button" class="btn spinner-down btn-xs btn-default">
                            <i class="fa fa-angle-down"></i>
                        </button>
                      </div>
                  </div>
              </div>
            </div>
            <tooltip class="pull-right" title="Start time and duration of text overlay" placement="left"></tooltip>
          </div> <!-- end of col-lg-12 -->
        </div> <!-- 2nd form-group -->
        <div class="form-group">
        <div class="col-lg-12 col-md-12">
          <div class="panel-group" id="accordion">
            <div class="panel advance-panel">
                <div class="panel-heading panel-inverse">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <div>
                              <i class="fa fa-pencil"></i>  Advance (Text Overlay)  <tooltip title="Text overlay appearance options" placement="right"></tooltip><i class="fa fa-caret-down pull-right"></i>
                            </div>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="form-group">
                      <div class="col-lg-12 col-md-12">
                          <div class="well">
                            <div class="textoverlay-container"
                              :style="{
                                          textAlign: project.actions.textoverlay_alignment
                                        }"
                            >
                              <span
                                :style="{
                                            fontFamily: project.actions.textoverlay_fontfamily,
                                            fontSize: project.actions.textoverlay_fontsize + 'px',
                                            fontWeight: project.actions.textoverlay_bold ? 'bold' : null,
                                            fontStyle: project.actions.textoverlay_italic ? 'italic': null,
                                            color: project.actions.textoverlay_textcolor,
                                            backgroundColor: project.actions.textoverlay_backgroundcolor
                                          }"
                              >
                                {{ project.actions.textoverlay_line_1 ? project.actions.textoverlay_line_1: 'The quick brown fox...'}}
                              </span> <br/>
                              <span
                                :style="{
                                            fontFamily: project.actions.textoverlay_fontfamily,
                                            fontSize: project.actions.textoverlay_fontsize + 'px',
                                            fontWeight: project.actions.textoverlay_bold ? 'bold' : null,
                                            fontStyle: project.actions.textoverlay_italic ? 'italic': null,
                                            color: project.actions.textoverlay_textcolor,
                                            backgroundColor: project.actions.textoverlay_backgroundcolor
                                          }"
                              >
                                {{ project.actions.textoverlay_line_2 }}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="form-group">
                      <div class="col-lg-12 col-md-12">
                        <label for="fontstyle" class="control-label col-md-3 col-sm-3">
                           <strong> Font Family: </strong>
                        </label>
                       <div class="row m-bot15 col-md-4 col-sm-4">
                          <select id='textFontProperty' class="form-control m-bot15" v-model="project.actions.textoverlay_fontfamily">
                            <option value="Arial">Arial</option>
                            <option value="Arial Black">Arial Black</option>
                            <option value="Comic Sans MS">Comic Sans MS</option>
                            <option value="Impact">Impact</option>
                            <option value="Lucida">Lucida</option>
                            <option value="Tahoma">Tahoma</option>
                            <option value="Verdana">Verdana</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Times New Roman">Times New Roman</option>
                            <option value="Courier New">Courier New</option>
                            <option value="Lucida Console">Lucida Console</option>
                           </select>
                        </div>
                        <label for="fontsize" class="control-label col-md-3 col-sm-3">
                            <strong> Font Size: </strong>
                        </label>
                        <div class="row m-bot15 col-md-3 col-sm-3">
                           <div class="spinner">
                              <div class="input-group input-small">
                                 <input type="text" class="spinner-input form-control fontsize" value="10" v-model="project.actions.textoverlay_fontsize" placeholder="10">
                                  <div id='textoverlay_fontsize' class="spinner-buttons input-group-btn btn-group-vertical fontsize-buttons">
                                    <button type="button" class="btn spinner-up btn-xs btn-default">
                                        <i class="fa fa-angle-up"></i>
                                    </button>
                                    <button type="button" class="btn spinner-down btn-xs btn-default">
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                  </div>
                              </div>
                            </div>
                         </div>
                      </div>
                    </div>
                <div class="form-group">
                  <div class="col-lg-12 col-md-12">
                    <label for="boldtext" class="control-label col-md-2 col-sm-2">
                        <strong> Bold: </strong>
                    </label>
                    <div class="row m-bot15 col-md-4 col-sm-4">
                        <div class="col-sm-6 text-center">
                            <div class="switch" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                              <input type="checkbox" id='textoverlay_bold' v-model="project.actions.textoverlay_bold" class="actions-ref"/>
                            </div>
                        </div>
                    </div>
                    <label for="italictext" class="control-label col-md-2 col-sm-2">
                       <strong> Italic: </strong>
                    </label>
                    <div class="row m-bot15 col-md-4 col-sm-4">
                        <div class="col-sm-6 text-center">
                            <div class="switch" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                              <input type="checkbox" id='textoverlay_italic' v-model="project.actions.textoverlay_italic" class="actions-ref"/>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-lg-12 col-md-12">
                  <label for="textpverlay" class="m-bot15 control-label col-md-4 col-sm-4"><strong> Text Color: </strong></label>
                    <label for="rgba" class="control-label col-md-2 col-sm-2 row">
                        RGB
                    </label>
                    <div class="row m-bot15 col-md-6 col-sm-6">
                      <color-picker :color.sync="project.actions.textoverlay_textcolor"></color-picker>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-12 col-md-12">
                  <label for="textpverlay" class="m-bot15 control-label col-md-4 col-sm-4"><strong> Background Color: </strong></label>
                   <label for="rgba" class="control-label col-md-2 col-sm-2 row">
                      RGBA
                   </label>
                    <div class="row m-bot15 col-md-6 col-sm-6">
                      <color-picker :color.sync="project.actions.textoverlay_backgroundcolor" format="rgba"></color-picker>
                    </div>
                </div>
              </div>
              </div><!--  end of panel-body -->
            </div>
          </div>
        </div>
      </div>
    </div> <!-- 3rd form-group -->
  </form>
</section>
</div> <!-- end of linkurl -->