<div class="modal fade" id="project-embed" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="embed-modal modal-header text-center">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title"><i class="fa fa-link"></i>  Embed</h4>
          </div>
          <div class="modal-body">
          	<div class="row">
          		<div class="col-md-12">
                <pre class="prettyprint" id="code">&lt;script src="<slot></slot>/embed.js/{{project.id}}"&gt;&lt;/script&gt;</pre>
              </div>
						</div>
            <div class="row">
              <div class="col-md-12">

              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button data-dismiss="copy" data-clipboard-target="#code" class="btn btn-success copy-btn" type="button"><i class="fa fa-clipboard"></i> Copy</button>
              <button data-dismiss="modal" class="btn btn-danger" type="button"><i class="fa fa-times"></i> Close</button>
          </div>
      </div>
  </div>
</div>
<!-- Options modal -->