<div class="modal fade" id="project-options" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header text-center">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title"><i class="fa fa-gears"></i>  Options</h4>
                          </div>
                          <div class="modal-body">
                          	<div class="row">
                          		<div class="col-md-12">
                              			<section class="panel row">
                                  			<ul class="nav nav-tabs options-tab">
											  <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-pencil-square-o"></i> Properties</a></li>
											  <li><a data-toggle="tab" href="#iframe"><i class="fa fa-code"></i> IFrame</a></li>
											  <li><a data-toggle="tab" href="#externalvideo"><i class="fa fa-video-camera"></i> External Video</a></li>
											</ul>
                              			</section>
                              		<div class="tab-content">
                              			<div id="home" class="tab-pane fade in active">
                                          	<section class="panel">
                                          		<form class="form-horizontal tasi-form text-left">
													<div class="form-group">
														<div class="col-lg-12 col-md-12">
														  <label for="title" class="control-label"><strong>Title: </strong></label>
														  	<input type="text" class="form-control m-bot15" id="propertyTitle" v-model="title" placeholder="Enter Title">
														</div>
													</div> <!-- 1st form-group -->
													<div class="form-group">
														<div class="col-lg-12 col-md-12">
															<label for="active" class="control-label"><strong>Active: </strong></label><select id='propertyActive' class="form-control m-bot15">
																<option value="0">Plan Free</option>
																<option value="1">Plan Paid</option>
				                                          	</select>
			                                          	</div>
													</div> <!-- 2nd form-group -->
													<div class="form-group">
														<div class="col-lg-4 col-sm-4">
															<label for="position" class="control-label"><strong>Position: </strong></label>
				                                          	<select id='propertyPosition' class="form-control m-bot15">
																<option value="0">Centered</option>
																<option value="1">Top left</option>
																<option value="2">Top right</option>
																<option value="3">Bottom left</option>
																<option value="4">Bottom right</option>
					                                        </select>
			                                          	</div>
			                                          	<div class="col-lg-4 col-sm-4">
															<label for="offsetx" class="control-label"><strong>Offset X: </strong></label>
															<div class="spinner">
				                                                <div class="input-group input-small">
				                                                      <input type="text" id='propertyOffsetX' class="spinner-input form-control" value="" placeholder="0">
				                                                      	<div class="spinner-buttons input-group-btn btn-group-vertical">
				                                                          <button type="button" class="btn spinner-up btn-xs btn-default">
				                                                              <i class="fa fa-angle-up"></i>
				                                                          </button>
				                                                          <button type="button" class="btn spinner-down btn-xs btn-default">
				                                                              <i class="fa fa-angle-down"></i>
				                                                          </button>
					                                                    </div>
					                                            </div>
					                                        </div>
					                                    </div>
				                                        <div class="col-lg-4 col-sm-4">
															<label for="offsety" class="control-label"><strong>Offset Y: </strong></label>
																<div class="spinner">
				                                                  <div class="input-group input-small">
				                                                      <input type="text" id='propertyOffsetY' class="spinner-input form-control" value="" placeholder="0">
				                                                      	<div class="spinner-buttons input-group-btn btn-group-vertical">
				                                                          <button type="button" class="btn spinner-up btn-xs btn-default">
				                                                              <i class="fa fa-angle-up"></i>
				                                                          </button>
				                                                          <button type="button" class="btn spinner-down btn-xs btn-default">
				                                                              <i class="fa fa-angle-down"></i>
				                                                          </button>
					                                                    </div>
					                                                </div>
					                                            </div>
														 </div>
			                                        </div> <!-- 3rd form-group -->
			                                        <div class="form-group">
														<div class="col-lg-4 col-sm-4">
															<label for="automatically" class="control-label">
						                                      	  <strong> Display Automatically: </strong>
						                                    </label>
						                                      <div class="row m-bot15">
						                                          <div class="col-sm-6 text-center">
						                                          	<div class="switch"
						                                          		 data-on-label="<i class=' fa fa-check'></i>"
                                   										 data-off-label="<i class='fa fa-times'></i>">
						                                              <input type="checkbox" id='propertyDisplayAutomatically' />
						                                            </div>
						                                          </div>
						                                      </div>
			                                        	</div>
			                                        	<div class="col-lg-8 col-sm-8">
				                                        	<div class="aftersec">
						                                      	<label for="afterseconds" class="control-label">
						                                      	  <strong> After (Seconds): </strong>
						                                      	</label>
																<div class="spinner">
					                                                <div class="input-group input-small">
					                                                      <input type="text" id='propertyDisplayAfter' class="spinner-input form-control" value="" placeholder="0">
					                                                      	<div class="spinner-buttons input-group-btn btn-group-vertical">
					                                                          <button type="button" class="btn spinner-up btn-xs btn-default">
					                                                              <i class="fa fa-angle-up"></i>
					                                                          </button>
					                                                          <button type="button" class="btn spinner-down btn-xs btn-default">
					                                                              <i class="fa fa-angle-down"></i>
					                                                          </button>
						                                                    </div>
						                                            </div>
						                                        </div>
															</div>
			                                        	</div>
			                                        </div> <!-- 4th form-group -->
			                                        <div class="form-group">
			                                        	<div class="col-lg-12 col-sm-12 row">
															<label for="dimmed" class="control-label col-md-4 col-sm-4">
						                                      	  <strong> Dimmed Background: </strong>
						                                    </label>
						                                      <div class="row m-bot15 col-md-6 col-sm-6">
						                                          <div class="col-sm-6 text-center">
						                                          	<div class="switch"
						                                          		 data-on-label="<i class=' fa fa-check'></i>"
                                   										 data-off-label="<i class='fa fa-times'></i>">
						                                              <input type="checkbox" id='propertyDimmedBG' />
						                                            </div>
						                                          </div>
						                                      </div>
			                                        	</div>
			                                        	<div class="col-lg-12 col-sm-12 row">
															<label for="glass" class="control-label col-md-4 col-sm-4">
						                                      	  <strong> Glass Background: </strong>
						                                    </label>
						                                      <div class="row m-bot15 col-md-6 col-sm-6">
						                                          <div class="col-sm-6 text-center">
						                                          	<div class="switch"
						                                          		 data-on-label="<i class=' fa fa-check'></i>"
                                   										 data-off-label="<i class='fa fa-times'></i>">
						                                              <input type="checkbox" id='propertyGlass' />
						                                            </div>
						                                          </div>
						                                      </div>
			                                        	</div>
			                                        </div>
			                                       	<div class="form-group">
			                                        	<div class="m-bot15 col-lg-12 col-sm-12 row">
			                                        		<label for="stopshowing" class="control-label col-md-4 col-sm-4">
			                                        			Stop Showing When
			                                        		</label>
			                                        	</div>
			                                        	<div class="col-lg-12 col-sm-12 row">
															<label for="exitonend" class="control-label col-md-4 col-sm-4">
						                                      	  <strong> Clicked: </strong>
						                                    </label>
						                                      <div class="row m-bot15 col-md-6 col-sm-6">
						                                          <div class="col-sm-6 text-center">
						                                          	<div class="switch"
						                                          		 data-on-label="<i class=' fa fa-check'></i>"
                                   										 data-off-label="<i class='fa fa-times'></i>">
						                                              <input type="checkbox" id='propertyClicked' />
						                                            </div>
						                                          </div>
						                                      </div>
			                                        	</div>
			                                        	<div class="col-lg-12 col-sm-12 row">
															<label for="exitonend" class="control-label col-md-4 col-sm-4">
						                                      	  <strong> Closed: </strong>
						                                    </label>
						                                      <div class="row m-bot15 col-md-6 col-sm-6">
						                                          <div class="col-sm-6 text-center">
						                                          	<div class="switch"
						                                          		 data-on-label="<i class=' fa fa-check'></i>"
                                   										 data-off-label="<i class='fa fa-times'></i>">
						                                              <input type="checkbox" id='propertyClosed' />
						                                            </div>
						                                          </div>
						                                      </div>
			                                        	</div>
			                                        	<div class="col-lg-12 col-sm-12 row">
															<label for="exitonend" class="control-label col-md-4 col-sm-4">
						                                      	  <strong> Exit On End: </strong>
						                                    </label>
						                                      <div class="row m-bot15 col-md-6 col-sm-6">
						                                          <div class="col-sm-6 text-center">
						                                          	<div class="switch"
						                                          		 data-on-label="<i class=' fa fa-check'></i>"
                                   										 data-off-label="<i class='fa fa-times'></i>">
						                                              <input type="checkbox" id='propertyExitOnEnd' />
						                                            </div>
						                                          </div>
						                                      </div>
			                                        	</div>
			                                        </div> <!-- 6th form-group -->
			                                        <div class="form-group">
			                                        	<div class="col-lg-8 col-md-8">
														  <label for="cookielife" class="control-label"><strong>Cookie Life: </strong></label>
															<div class="spinner">
				                                                <div class="input-group input-small">
				                                                      <input type="text" id='propertyCookieLife' class="spinner-input form-control" value="" placeholder="0">
				                                                      	<div class="spinner-buttons input-group-btn btn-group-vertical">
				                                                          <button type="button" class="btn spinner-up btn-xs btn-default">
				                                                              <i class="fa fa-angle-up"></i>
				                                                          </button>
				                                                          <button type="button" class="btn spinner-down btn-xs btn-default">
				                                                              <i class="fa fa-angle-down"></i>
				                                                          </button>
					                                                    </div>
					                                            </div>
					                                        </div>
														</div>
													</div> <!-- 6th form-group -->
                                          		</form>
                                          	</section>
                                      	</div>
                                      	<div id="iframe" class="tab-pane fade">
                                          	<section class="panel">
												<form class="form-horizontal tasi-form text-left">
													<div class="form-group">
														<div class="col-lg-12 col-md-12">
														  <label for="iframeurl" class="control-label"><strong>URL: </strong></label>
														  	<input type="text" class="form-control m-bot15" id="IframeURL" value="" placeholder="http://">
														</div>
													</div> <!-- 1st form-group -->
												</form>
                                          	</section>
                                        </div>
                                        <div id="externalvideo" class="tab-pane fade">
                                          	<section class="panel">
												<form class="form-horizontal tasi-form text-left">
													<div class="form-group">
														<div class="col-lg-4 col-md-4">
														  <label for="duration" class="control-label"><strong>Duration: </strong></label>
															<div class="input-group input-small">
			                                                    <input type="text" id='propertyExtVideoDuration' class="spinner-input form-control"  placeholder="0">
		                                                      	<div class="spinner-buttons input-group-btn btn-group-vertical">
		                                                          <button type="button" class="btn spinner-up btn-xs btn-default">
		                                                              <i class="fa fa-angle-up"></i>
		                                                          </button>
		                                                          <button type="button" class="btn spinner-down btn-xs btn-default">
		                                                              <i class="fa fa-angle-down"></i>
		                                                          </button>
			                                                    </div>
				                                            </div>
														</div>
														<div class="col-lg-8 col-md-8">
														  <label for="embed" class="control-label"><strong>Embed Code: </strong></label>
														  	<input type="text" class="form-control m-bot15" id="propertyExtVideoURL" >
														</div>
													</div> <!-- 2nd form-group -->
												</form>
                                          	</section>
                                      	</div>
                                    </div>
								</div>
							</div>
                          </div>
                          <div class="modal-footer">
                              <button data-dismiss="modal" class="btn btn-danger" type="button"><i class="fa fa-times"></i> Close</button>
                              <button class="btn btn-primary" type="button"><i class="fa fa-save"></i> Save</button>
                          </div>
                      </div>
                  </div>
              </div>
            <!-- Options modal -->