<!-- Properties Tab -->
<div id="home" class="tab-pane fade in active">
  	<section class="panel">
  		<form class="form-horizontal tasi-form text-left">
			<div class="form-group">
				<div class="col-lg-12 col-md-12">
          <tooltip class="pull-right" title="Title field for this video" placement="left"></tooltip>
				  <label for="title" class="control-label"><strong>Title: </strong></label>
				  	<input type="text" class="form-control m-bot15" id="propertyTitle" v-model="project.title" placeholder="Enter Title">

          <!--admin-only 	<div>
            <label for="category" class="control-label"><strong>Category: </strong></label>
            <select id="caterory" v-model="project.category_id" class="form-control m-bot15">
                <option v-for="category in categories" :value="category.id" v-html="category.name"></option>
            </select>
          </div>  admin-only-->   

        </div>
			</div> <!-- 1st form-group -->

			<div class="form-group">
              <div class="col-lg-12 col-md-12">
                <tooltip class="pull-right" title="Video positioning for this video" placement="left"></tooltip>
              </div>
				        <div class="col-lg-4 col-sm-4">
					          <label for="position" class="control-label"><strong>Position: </strong></label>
                  	<select id='propertyPosition' v-model="project.options.position" class="form-control m-bot15">
            						<option value="centered">Centered</option>
            						<option value="top-left">Top left</option>
            						<option value="top-right">Top right</option>
            						<option value="bottom-left">Bottom left</option>
            						<option value="bottom-right">Bottom right</option>
                    </select>
              	</div>
              	<div class="col-lg-4 col-sm-4">
	                 <label for="offsetx" class="control-label"><strong>Offset X: </strong></label>
	                  <div class="spinner">
                      <div class="input-group input-small">
                        <input type="text" id='propertyOffsetX' class="spinner-input form-control" v-model="project.options.offset_x" placeholder="0">
                      	<div class="spinner-buttons input-group-btn btn-group-vertical">
                          <button type="button" class="btn spinner-up btn-xs btn-default">
                              <i class="fa fa-angle-up"></i>
                          </button>
                          <button type="button" class="btn spinner-down btn-xs btn-default">
                              <i class="fa fa-angle-down"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-lg-4 col-sm-4">
        					<label for="offsety" class="control-label"><strong>Offset Y: </strong></label>
        						<div class="spinner">
                      <div class="input-group input-small">
                          <input type="text" id='propertyOffsetY' class="spinner-input form-control" v-model="project.options.offset_y" placeholder="0">
                          	<div class="spinner-buttons input-group-btn btn-group-vertical">
                              <button type="button" class="btn spinner-up btn-xs btn-default">
                                  <i class="fa fa-angle-up"></i>
                              </button>
                              <button type="button" class="btn spinner-down btn-xs btn-default">
                                  <i class="fa fa-angle-down"></i>
                              </button>
                            </div>
                        </div>
                    </div>
		              </div>
              </div> <!-- 3rd form-group -->

            <div class="form-group">
             <div class="col-lg-12 col-md-12">
                <tooltip class="pull-right" title="Delay options for this video" placement="left"></tooltip>
              </div>
				      <div class="col-lg-4 col-sm-4">
  		          <label for="automatically" class="control-label">
                  	  <strong> Delay: </strong>
                </label>
                <div class="row m-bot15">
                    <div class="col-sm-6 text-center">
                      <div class="switch" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                        <input type="checkbox" id="auto_display" v-model="project.options.auto_display" class="options-ref" />
                      </div>
                    </div>
                </div>
            	</div>
            	<div class="col-lg-8 col-sm-8">
                	<div v-show="project.options.auto_display">
                      	<label for="afterseconds" class="control-label">
                      	  <strong> After (Seconds): </strong>
                      	</label>
						            <div class="spinner">
                            <div class="input-group input-small">
                                  <input type="text" id='propertyDisplayAfter' v-model="project.options.auto_display_after" class="spinner-input form-control" placeholder="0">
                                  	<div class="spinner-buttons input-group-btn btn-group-vertical">
                                      <button type="button" class="btn spinner-up btn-xs btn-default">
                                          <i class="fa fa-angle-up"></i>
                                      </button>
                                      <button type="button" class="btn spinner-down btn-xs btn-default">
                                          <i class="fa fa-angle-down"></i>
                                      </button>
                                    </div>
                            </div>
                        </div>
					</div>
            	</div>
            </div> <!-- 4th form-group -->
            <div class="form-group">
            	<div class="col-lg-12 col-sm-12 row">
					          <label for="dimmed" class="control-label col-md-4 col-sm-4">
                      	  <strong> Dimmed Background: </strong>
                    </label>
                      <div class="row m-bot15 col-md-6 col-sm-6">
                          <div class="col-sm-6 text-center">
                          	<div class="switch" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                              <input type="checkbox" id='dimmed_background' v-model="project.options.dimmed_background" class="options-ref" />
                            </div>
                          </div>
                          <tooltip class="pull-left" title="Dimmed background for this video" placement="right"></tooltip>
                      </div>
            	</div>
            	    <div class="col-lg-12 col-sm-12 row">
					          <label for="glass" class="control-label col-md-4 col-sm-4">
                      	  <strong> Glass Background: </strong>
                    </label>
                      <div class="row m-bot15 col-md-6 col-sm-6">
                          <div class="col-sm-6 text-center">
                          	<div class="switch" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                              <input type="checkbox" id='glass_background' v-model="project.options.glass_background" class="options-ref" />
                            </div>
                          </div>
                          <tooltip class="pull-left" title="Glass background for this video" placement="right"></tooltip>
                      </div>
            	     </div>
            </div>
           	<div class="form-group">
            	<div class="m-bot15 col-lg-12 col-sm-12 row">
            		<label for="stopshowing" class="control-label col-md-4 col-sm-4">
            			Stop Showing When
            		</label>
            	</div>
              <div class="col-lg-12 col-sm-12 row">
                   <label for="exitonend" class="control-label col-md-4 col-sm-4">
                          <strong> Exit On End: </strong>
                    </label>
                      <div class="row m-bot15 col-md-6 col-sm-6">
                          <div class="col-sm-6 text-center">
                            <div class="switch" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                              <input type="checkbox" id='stop_showing.exit_on_end' v-model="project.options.stop_showing.exit_on_end" class="options-ref" />
                            </div>
                          </div>
                          <tooltip class="pull-left" title="Video will automatically exit after playing" placement="right"></tooltip>
                      </div>
              </div>
            	<div class="col-lg-12 col-sm-12 row">
					          <label for="exitonend" class="control-label col-md-4 col-sm-4">
                      	  <strong> Clicked: </strong>
                    </label>
                      <div class="row m-bot15 col-md-6 col-sm-6">
                          <div class="col-sm-6 text-center">
                          	<div class="switch" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                              <input type="checkbox" id='stop_showing.clicked' v-model="project.options.stop_showing.clicked" class="options-ref" />
                            </div>
                          </div>
                          <tooltip class="pull-left" title="Video will no longer play next time the user visit the page after it was clicked" placement="right"></tooltip>
                      </div>
            	     </div>
            	<!-- <div class="col-lg-12 col-sm-12 row">
					         <label for="exitonend" class="control-label col-md-4 col-sm-4">
                      	  <strong> Closed: </strong>
                    </label>
                      <div class="row m-bot15 col-md-6 col-sm-6">
                          <div class="col-sm-6 text-center">
                          	<div class="switch" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                              <input type="checkbox" id='stop_showing.closed' v-model="project.options.stop_showing.closed" class="options-ref" />
                            </div>
                          </div>
                          <tooltip class="pull-left" title="Video will no longer play next time the user visit the page after it was closed" placement="right"></tooltip>
                      </div>
            	</div> -->
            </div> <!-- 6th form-group -->
            <div class="form-group">
              <div class="col-lg-12 col-md-12">
                  <tooltip class="pull-right" title="Video will play again after the specified minutes for cookie life" placement="left"></tooltip>
              </div>
            	<div class="col-lg-8 col-md-8">
				          <label for="cookielife" class="control-label"><strong>Cookie Life: </strong></label>
					         <div class="spinner">
                        <div class="input-group input-small">
                              <input type="text" id='propertyCookieLife' class="spinner-input form-control" v-model="project.options.cookie_life" placeholder="0">
                              	<div class="spinner-buttons input-group-btn btn-group-vertical">
                                  <button type="button" class="btn spinner-up btn-xs btn-default">
                                      <i class="fa fa-angle-up"></i>
                                  </button>
                                  <button type="button" class="btn spinner-down btn-xs btn-default">
                                      <i class="fa fa-angle-down"></i>
                                  </button>
                                </div>
                        </div>
                    </div>
				      </div>
			       </div> <!-- 6th form-group -->
  		</form>
  	</section>
</div>


<!-- IFrame Tab -->
<div id="iframe" class="tab-pane fade">
  <section class="panel">
    <form class="form-horizontal tasi-form text-left">

      <div class="form-group">
        <div class="col-lg-12 col-md-12">
          <tooltip class="pull-right" title="Show another page in the background" placement="left"></tooltip>
          <label for="iframeurl" class="control-label"><strong>URL: </strong></label>
            <input type="text" class="form-control m-bot15" v-model="project.options.iframe" id="IframeURL" placeholder="http://">
        </div>
      </div> <!-- 1st form-group -->
      <div class="form-group">
        <div class="col-lg-12 col-md-12">
           <label for="textoverlay pull-left" class="control-label">
              Button Overlay
           </label>
        </div>
      </div>
      <div class="form-group">
                  <div class="col-lg-12 col-md-12 row">
              <label for="buttonlabel" class="control-label col-md-3 col-sm-3"><strong> Label: </strong></label>
                            <div class="m-bot15 col-md-9 col-sm-9 row">
                              <input type="text" class="form-control m-bot15" id="buttonLabel"  v-model="project.options.iframe_settings.buttonoverlay_label">
                            </div>
                            <tooltip class="pull-right" title="Label of the button overlay in the video" placement="left"></tooltip>
            </div>
      </div>

      <div class="form-group">
          <div class="col-lg-12 col-sm-12 row">
             <label for="valignment" class="control-label col-md-3 col-sm-3">
               <strong> Vertical Alignment: </strong>
             </label>
             <div class="row m-bot15 col-md-3 col-sm-3">
               <select id='textPosition' class="form-control m-bot15" v-model="project.options.iframe_settings.textoverlay_valignment">
                 <option value="bottom">Bottom</option>
                 <option value="middle">Middle</option>
                 <option value="top">Top</option>
               </select>
             </div>
             <div class="col-md-3 col-sm-3">
                <tooltip class="pull-left" title="Vertical alignment of text overlay" placement="right"></tooltip>
             </div>
          </div>
      </div>

      <div class="form-group">
          <div class="col-lg-12 col-sm-12 row">
             <label for="valignment" class="control-label col-md-3 col-sm-3">
               <strong> Horizontal Alignment: </strong>
             </label>
             <div class="row m-bot15 col-md-3 col-sm-3">
                <select id='textFontProperty' class="form-control m-bot15" v-model="project.options.iframe_settings.buttonoverlay_alignment">
                  <option value="left">Left</option>
                  <option value="center">Center</option>
                  <option value="right">Right</option>
                </select>
             </div>
             <div class="col-md-3 col-sm-3">
                <tooltip class="pull-left" title="Vertical alignment of text overlay" placement="right"></tooltip>
             </div>
          </div>
      </div>

    <div class="form-group">
    
         <div class="form-overlay">
            <div class="col-lg-12 col-md-12">
              <div class="panel-group" id="accordion">
                            <div class="panel advance-panel">
                                <div class="panel-heading panel-inverse">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                          <div>
                                            <i class="fa fa-pencil"></i>  Advance (Button Overlay)  <tooltip title="Button overlay appearance options" placement="right"></tooltip><i class="fa fa-caret-down pull-right"></i></span>
                                          </div>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    <div class="form-group">
                                      <div class="col-lg-12 col-md-12">
                                          <div class="well">
                                            <div class="clicktocall-container"
                                            :style="{
                                              textAlign: project.options.iframe_settings.buttonoverlay_alignment
                                            }"
                                          >
                                            <button type="button" class="btn btn-default"
                                              :style="{
                                                fontFamily: project.options.iframe_settings.buttonoverlay_fontfamily,
                                                fontSize: project.options.iframe_settings.buttonoverlay_fontsize + 'px',
                                                fontWeight: project.options.iframe_settings.buttonoverlay_bold ? 'bold' : null,
                                                fontStyle: project.options.iframe_settings.buttonoverlay_italic ? 'italic': null,
                                                color: project.options.iframe_settings.buttonoverlay_textcolor,
                                                backgroundColor: project.options.iframe_settings.buttonoverlay_backgroundcolor
                                              }"
                                            >
                                              {{ project.options.iframe_settings.buttonoverlay_label ? project.options.iframe_settings.buttonoverlay_label: 'Default'}}
                                            </button>
                                          </div>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="col-lg-12 col-md-12">
                        <label for="fontstyle" class="control-label col-md-3 col-sm-3">
                                                 <strong> Font Family: </strong>
                                          </label>
                                          <div class="row m-bot15 col-md-4 col-sm-4">
                                                <select id='textFontProperty' class="form-control m-bot15" v-model="project.options.iframe_settings.buttonoverlay_fontfamily">
                                                  <option value="Arial">Arial</option>
                                                  <option value="Arial Black">Arial Black</option>
                                                  <option value="Comic Sans MS">Comic Sans MS</option>
                                                  <option value="Impact">Impact</option>
                                                  <option value="Lucida">Lucida</option>
                                                  <option value="Tahoma">Tahoma</option>
                                                  <option value="Verdana">Verdana</option>
                                                  <option value="Georgia">Georgia</option>
                                                  <option value="Times New Roman">Times New Roman</option>
                                                  <option value="Courier New">Courier New</option>
                                                  <option value="Lucida Console">Lucida Console</option>
                                                </select>
                                              </div>
                        <label for="fontsize" class="control-label col-md-3 col-sm-3">
                                              <strong> Font Size: </strong>
                                        </label>
                                          <div class="row m-bot15 col-md-3 col-sm-3">
                          <div class="spinner">
                                                    <div class="input-group input-small">
                                                          <input type="text" class="spinner-input form-control fontsize" value="10"  v-model="project.options.iframe_settings.buttonoverlay_fontsize">
                                                          <div id='buttonoverlay_fontsize' class="spinner-buttons input-group-btn btn-group-vertical fontsize-buttons">
                                                            <button type="button" class="btn spinner-up btn-xs btn-default">
                                                                <i class="fa fa-angle-up"></i>
                                                            </button>
                                                            <button type="button" class="btn spinner-down btn-xs btn-default">
                                                                <i class="fa fa-angle-down"></i>
                                                            </button>
                                                        </div>
                                                  </div>
                                                </div>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="col-lg-12 col-md-12">
                        <label for="boldtext" class="control-label col-md-2 col-sm-2">
                                                <strong> Bold: </strong>
                                          </label>
                                          <div class="row m-bot15 col-md-4 col-sm-4">
                                              <div class="col-sm-6 text-center">
                                                  <div class="switch"
                                                     data-on-label="<i class=' fa fa-check'></i>"
                                           data-off-label="<i class='fa fa-times'></i>">
                                                    <input type="checkbox" id='buttonoverlay_bold' v-model="project.options.iframe_settings.buttonoverlay_bold" class="actions-ref"/>
                                                  </div>
                                              </div>
                                          </div>
                        <label for="italictext" class="control-label col-md-2 col-sm-2">
                                                <strong> Italic: </strong>
                                          </label>
                                          <div class="row m-bot15 col-md-4 col-sm-4">
                                              <div class="col-sm-6 text-center">
                                                  <div class="switch"
                                                     data-on-label="<i class=' fa fa-check'></i>"
                                           data-off-label="<i class='fa fa-times'></i>">
                                                    <input type="checkbox" id='buttonoverlay_italic' v-model="project.options.iframe_settings.buttonoverlay_italic" class="actions-ref"/>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="col-lg-12 col-md-12">
                        <label for="textalignment" class="control-label col-md-3 col-sm-3">
                                                <strong> Alignment: </strong>
                                          </label>
                                          <div class="row col-md-3 col-sm-3">
                                                <select id='textFontProperty' class="form-control m-bot15" v-model="project.options.iframe_settings.buttonoverlay_alignment">
                            <option value="left">Left</option>
                            <option value="center">Center</option>
                            <option value="right">Right</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-12 col-md-12">
                        <label for="textpverlay" class="m-bot15 control-label col-md-4 col-sm-4">
                          <strong> Text Color: </strong></label>
                                          <label for="rgb" class="control-label col-md-2 col-sm-2 row">
                                              RGB
                                          </label>
                                         <div class="row m-bot15 col-md-46 col-sm-6">
                          <color-picker :color.sync="project.options.iframe_settings.buttonoverlay_textcolor"></color-picker>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="col-lg-12 col-md-12">
                        <label for="textpverlay" class="m-bot15 control-label col-md-4 col-sm-4">
                          <strong> Background Color: </strong></label>
                                          <label for="rgba" class="control-label col-md-2 col-sm-2 row">
                                              RGBA
                                          </label>
                                         <div class="row m-bot15 col-md-6 col-sm-6">
                          <color-picker :color.sync="project.options.iframe_settings.buttonoverlay_backgroundcolor" format="rgba"></color-picker>
                                         </div>
                                      </div>
                                    </div>
                                  </div><!--  end of panel-body -->
                                </div>
                            </div>
                          </div>

          </div> <!-- 2nd form-group -->
    </div>



    </form>
    </section>
</div>

<!-- External Video -->
<div id="externalvideo" class="tab-pane fade">
    <section class="panel">
      <form class="form-horizontal tasi-form text-left">
        <div class="form-group">
        <div class="col-lg-12 col-md-12">
          <tooltip class="pull-right" title="External video that will play after this video & duration of the external video" placement="left"></tooltip>
        </div>
        <div class="col-lg-4 col-md-4">
          <label for="duration" class="control-label"><strong>Duration: </strong></label>
            <div class="spinner">
            <div class="input-group input-small">
                          <input type="text" id='propertyExtVideoDuration' v-model="project.options.external_video.duration" class="spinner-input form-control" >
                          <div class="spinner-buttons input-group-btn btn-group-vertical">
                            <button type="button" class="btn spinner-up btn-xs btn-default">
                                <i class="fa fa-angle-up"></i>
                            </button>
                            <button type="button" class="btn spinner-down btn-xs btn-default">
                                <i class="fa fa-angle-down"></i>
                            </button>
                          </div>
                      </div>
                    </div>
            </div>
        <div class="col-lg-8 col-md-8">
          <label for="embed" class="control-label"><strong>Embed Code: </strong></label>
            <input type="text" class="form-control m-bot15" v-model="project.options.external_video.embed_code" id="propertyExtVideoURL" >
        </div>
      </div> <!-- 2nd form-group -->
    </form>
    </section>
</div>


<!-- Video Settings Tab -->
<div id="videosettings" class="tab-pane fade">
  <div class="col-lg-6 col-xs-6">
    <section class="panel sliders">
    <form class="form-horizontal tasi-form text-left" v-show="typeof project.options.video_settings != undefined">
      <div class="form-group">
        <div class="col-lg-12 col-md-12">
          <tooltip class="pull-right" title="How much of the background color to remove from semi-transparent pixels" placement="left"></tooltip>
          <label for="weight" class="control-label"><strong>Weight: {{ project.options.video_settings.weight }}</strong></label>
            <div id="slider-range-weight" class="slider"></div>
              <div class="slider-info">
                  <input type="hidden" v-model="project.options.video_settings.weight" id="videoWeight">
              </div>
        </div>
      </div> <!-- 1st form-group -->
      <div class="form-group">
        <div class="col-lg-12 col-md-12">
          <tooltip class="pull-right" title="It depends on the video. Just 'balance' it!" placement="left"></tooltip>
          <label for="balance" class="control-label"><strong>Balance: {{ project.options.video_settings.balance }}</strong></label>
            <div id="slider-range-balance" class="slider"></div>
              <div class="slider-info">
                  <input type="hidden" v-model="project.options.video_settings.balance" id="videoBalance">
              </div>
        </div>
      </div> <!-- 2nd form-group -->
      <div class="form-group">
        <div class="col-lg-12 col-md-12">
          <tooltip class="pull-right" title="The minimum resulting alpha value of keyed pixels" placement="left"></tooltip>
          <label for="clipblack" class="control-label"><strong>Clip Black: {{ project.options.video_settings.clip_black }}</strong></label>
            <div id="slider-range-clipblack" class="slider"></div>
              <div class="slider-info">
                  <input type="hidden" v-model="project.options.video_settings.clipBlack" id="videoClipBlack">
              </div>
        </div>
      </div> <!-- 3rd form-group -->
      <div class="form-group">
        <div class="col-lg-12 col-md-12">
          <tooltip class="pull-right" title="The maximum resulting alpha value of keyed pixels" placement="left"></tooltip>
          <label for="clipwhite" class="control-label"><strong>Clip White: {{ project.options.video_settings.clip_white }}</strong></label>
            <div id="slider-range-clipwhite" class="slider"></div>
              <div class="slider-info">
                  <input type="hidden" v-model="project.options.video_settings.clipWhite" id="videoClipWhite">
              </div>
        </div>
      </div> <!-- 3rd form-group -->
    </form>
    </section>
  </div>

  <div class="col-lg-6 col-xs-6">
      <div id="preview-section">


      </div>
  </div>

</div>
