<div :class="[player_class.dimmed]" v-show="is_visible" id="project-player-bg">

  <div id="project-player-container"
     :style="[player_styles.offsets]"
     :class="[player_class.position, player_class.glass]"
  >

    <!-- textoverlay -->
    <div v-if="has_Textoverlay" id="project-text-overlay"
        :class="[textoverlay_class.valignment, textoverlay_class.alignment]"
        :style="{ fontFamily:project.actions.textoverlay_fontfamily,
                  fontSize:project.actions.textoverlay_fontsize+'px',
                  fontWeight: project.actions.textoverlay_bold ? 'bold' : null,
                  fontStyle: project.actions.textoverlay_italic ? 'italic': null,
                  color: project.actions.textoverlay_textcolor
                }"
    >

        <span v-if="has_Line1"
          :style="{
            backgroundColor: project.actions.textoverlay_backgroundcolor
          }"
        >
          {{ project.actions.textoverlay_line_1 }}
        </span><br/>
        <span v-if="has_Line2"
          :style="{
            backgroundColor: project.actions.textoverlay_backgroundcolor
          }"
        >
          {{ project.actions.textoverlay_line_2 }}
        </span>
    </div>


    <!-- click to call -->
    <div v-if="has_Phonenumber"
         id="project-clicktocall"
         :class="[clicktocall_class.valignment, clicktocall_class.alignment]"
         :style="{ fontFamily:project.actions.clicktocall_fontfamily,
                   fontSize:project.actions.clicktocall_fontsize+'px',
                   fontWeight: project.actions.clicktocall_bold ? 'bold' : null,
                   fontStyle: project.actions.clicktocall_italic ? 'italic': null
                 }"
    >


      <a class="btn btn-default" href="tel:{{ project.actions.clicktocall }}"
        :style="{
          backgroundColor: project.actions.clicktocall_backgroundcolor,
          color: project.actions.clicktocall_textcolor
        }"
      >
        {{ project.actions.clicktocall }}
      </a>


    </div>

    <!-- button overlay -->
    <div v-if="has_Buttonoverlay"
        id="project-buttonoverlay"
        :class="[buttonoverlay_class.valignment, buttonoverlay_class.alignment]"
        :style="{ fontFamily:project.actions.buttonoverlay_fontfamily,
         fontSize:project.actions.buttonoverlay_fontsize+'px',
         fontWeight: project.actions.buttonoverlay_bold ? 'bold' : null,
         fontStyle: project.actions.buttonoverlay_italic ? 'italic': null
        }"
    >
          <button class="btn btn-default"
                  :style="{
                      color: project.actions.buttonoverlay_textcolor,
                      backgroundColor: project.actions.buttonoverlay_backgroundcolor
                  }"
          >
            {{ project.actions.buttonoverlay_label ? project.actions.buttonoverlay_label: 'Default'}}
          </button>
    </div>

    <!-- form overlay -->

    <div id="project-formoverlay">
          <section class="panel">
            <a href="#" class="close-form text-danger"><i class="fa fa-times"></i></a>
            <header class="panel-heading text-center">
               <h4
                :style="{
                  fontFamily: project.actions.formoverlay_titlefontfamily,
                  fontSize: formoverlay_titlesize,
                  fontWeight: project.actions.formoverlay_titlebold ? 'bold' : null,
                  fontStyle: project.actions.formoverlay_titleitalic ? 'italic': null,
                  color: project.actions.formoverlay_titlecolor
                }"
               >
                {{ project.actions.formoverlay_title }}

              </h4>
            </header>
             <div class="panel-body">
               <form class="form-horizontal tasi-form text-left">
                  <div class="form-group">
                    <div class="col-lg-12 col-md-12">
                        <input type="text" class="form-control m-bot15 {{formoverlay_fieldsize}}"
                               id="usernameField" placeholder="Enter your name.."
                               :style="{
                                borderWidth: project.actions.formoverlay_fieldbordersize + 'px',
                                borderColor: project.actions.formoverlay_fieldbordercolor
                               }"
                        >
                        <input type="email" class="form-control m-bot15 {{formoverlay_fieldsize}}"
                               id="usernameField" placeholder="Enter your email.."
                               :style="{
                                borderWidth: project.actions.formoverlay_fieldbordersize + 'px',
                                borderColor: project.actions.formoverlay_fieldbordercolor
                               }"
                        >
                        <button id="formoverlay-btn" type="button" class="btn btn-success center-block {{formoverlay_buttonsize}}"
                              :style="{
                                borderWidth: project.actions.formoverlay_buttonbordersize + 'px',
                                color: project.actions.formoverlay_buttoncolor,
                                borderColor: project.actions.formoverlay_buttoncolor,
                                backgroundColor: project.actions.formoverlay_buttonbackgroundcolor
                              }"
                        >
                              {{ project.actions.formoverlay_buttontext }}
                        </button>
                    </div>
                  </div>
                 </form>
             </div>
          </section>
    </div>




     <a href="#" class="close-project text-default"><i class="fa fa-times"></i></a>

     <video id="project-player" class="video-js" controls preload="auto" data-setup="{}" width="350"
        poster="http://vjs.zencdn.net/v/oceans.png" data-setup="{}">

        <source src="img/short.mp4" type="video/mp4">

        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>

     </video>

  </div> <!-- end of project-player-container -->
</div> <!-- end of player background -->

